# Build artifacts
build/
build-*/
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile

# Qt Creator
*.user
*.user.*

# IDE
.vs/
.vscode/
.idea/

# OS
Thumbs.db
.DS_Store

# CMake per-user
CMakeUserPresets.json

# Qt Creator per-user
*.autosave
.qmlls.ini
.qtc_clangd/
.qtcreator
